* {
    background-color: rgb(207, 207, 207);
}
.list{
    color: rgb(25,25,25);
}

.image{
    height: 300;
    width: 200;
}

.subheader,
.header{
    background-color: rgb(230, 230, 230);
    color : rgb(0, 0, 0);
    font-weight:bold;
    text-align: center;
}

.subheader{
    text-align: center;
}

.content{
    max-width: 500px;
    margin: auto;
}

#image-container{
    max-width: 250;
    margin: auto;
    text-align: center;
}